[submodule "bash-powerline"]
	path = modules-dotfiles/bash-powerline
	url = http://github.com/riobard/bash-powerline
[submodule "npm-completion-fast"]
	path = modules-dotfiles/npm-completion-fast
	url = http://github.com/seavan/npm-completion-fast
[submodule "xf-bash-lib"]
	path = modules-dotfiles/xf-bash-lib
	url = https://github.com/f3rno64/xf-bash-lib.git
[submodule "modules-dotfiles/oh-my-tmux"]
	path = modules-dotfiles/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "powerline-shell-theme"]
	path = powerline-shell-theme
	url = https://github.com/f3rno64/powerline-shell-theme.git
[submodule "modules-dotfiles/alacritty-themes"]
	path = modules-dotfiles/alacritty-themes
	url = https://github.com/rajasegar/alacritty-themes.git
