fish_history
bash_history
zsh_history
weechat/*
!weechat/weechat.conf
ncmpcpp/error.log
ssh/config
vim/.netrwhist
.undodir
tags
Session.vim
vim/plugged
vim/sessions
vim/undodir

vim-plugins/*
nvim-plugins/*

!nvim-plugins/.keep
!vim-plugins/.keep

npm
!npm/.keep

local/bin
local/lib
local/include
local/share
local/state

config/*
!config/alacritty/alacritty.yml
!config/alacritty/themes
!config/sway/config
!config/i3/config
!config/nvim/init.vim
!config/nvim/ginit.vim

media/*
!media/.keep
!media/images/wallpapers

documents/*
!documents/.keep

gnupg/*
!gnupg/.keep
!gnupg/gpg-agent.conf

bin/*
npmrc
/node_modules

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
wakatime.cfg
/local/pipx
/local/opt
